.heading {
	
	height:29px;
	background: url("header_bg.png") repeat-x scroll 0 0 transparent;
}

.heading input {
	float:left;
	margin:5px 3px 3px 1px;
	
	
	}
#rss img
{	
	margin:6px 4px 0 0;
	float:right;
}

#followus img
{
	margin:2px 2px 0 0;
	float:right;
	padding-right: 4px;

}

#twlogo {
	float: right;
}

#logo {
	width: 480px;
	height: 46px;
	margin: 10px;
}

#wrappall {
	border: 1px solid #ccc;
	background:#fff;
	
}
div.clear
{
	padding:5px;
}

div#live-tweet-wrapper {
	text-align: left;	
	overflow-x:auto;
	overflow-y:auto;
	padding: 6px;
	padding: 6px;
}

div.tweet-wrap {
	height: auto;
	max-height: auto;
	border-top: 1px solid #ccc;
	margin: 5px;
	font-size: 15px;
	max-width: 580px;
	text-align: left;
	overflow:auto;
	padding:5px;
}

div.tweet-wrap:first-child {
	border: 0px;
}



div.tweet-text {
	float: left;
	margin: 4px;
}

span {
	text-align: left;
}

div.text {
	
	padding-left: 8px;
	overflow: hidden;
}

.user {
	font-weight: bolder;
}

span.grey {
	color: #686565;
	font-weight:bolder;
}

span.hashtag {
	float: right;
	font-weight: bolder;
	margin: 5px;
	margin-right: 8px;
}

#loadJSON:hover
{
cursor:pointer;
}